{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{setting.title}} {% endblock %}
{% block page_description %} {{setting.description}} {% endblock %}
{% block page_keywords %} {{setting.keywords}} {% endblock %}

{% block extracss %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>

<main>

<section class="hero d-flex justify-content-center align-items-center" id="section_1">
    {% if homepage %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 text-center">
                <div class="hero-text">
                    <div class="hero-title-wrap d-flex flex-column align-items-center mb-4">

                        <div class="hero-title-box d-inline-block mb-3">
                            <h2 class="hero-title px-4 py-3">{{homepage.title}}</h2>
                        </div>

                        <div class="hero-subtitle-box d-inline-block mb-4">
                            <p class="hero-subtitle px-4 py-3">
                                {{ homepage.content|safe|striptags|linebreaksbr }}
                            </p>
                        </div>

                        <p class="mb-4">
                            <a class="custom-btn btn custom-link" href="#section_2">{% translate 'Get Started' %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#535da1" fill-opacity="1" d="M0,160L24,160C48,160,96,160,144,138.7C192,117,240,75,288,64C336,53,384,75,432,106.7C480,139,528,181,576,208C624,235,672,245,720,240C768,235,816,213,864,186.7C912,160,960,128,1008,133.3C1056,139,1104,181,1152,202.7C1200,224,1248,224,1296,197.3C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path>
    </svg>
    {% endif %}
</section>

<section class="contact section-padding" id="section_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12 mx-auto">
                <div class="about-thumb">


                    <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                        <h2 class="text-white mb-0">{% translate 'About' %}</h2>
                    </div>


                    <div class="mb-5">
                        {{ Abouts.content | safe }}
                    </div>


                    {% if Abouts and Abouts.skills.all %}
                    <div class="skills-section pt-5">
                        <div class="row">
                            <div class="col-12 text-center mb-5">
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-12">
                                <div class="d-flex flex-wrap justify-content-center gap-4">
                                    {% for skill in Abouts.skills.all %}
                                        <p class="mb-4">
                                    <a class="custom-btn btn custom-link" **href="#" onclick="return false;"**>{{skill.name}}</a>
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

</section>


<section class="contact section-padding" id="section_3">
    <div class="container">
        <div class="col-lg-10 col-12 mx-auto">
            <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                <h2 class="text-white ms-4 mb-0">{% translate 'Projects' %}</h2>
            </div>

            <div class="row pt-lg-5">
                {% for project in Projects %}
                <div class="col-lg-6 col-12 mb-4">
                    <div class="projects-thumb">
                        <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                            <h3 class="mb-0">{{ project.title }}</h3>
                        </div>

                        <p>{{ project.content|safe }}</p>

                        {% if project.link %}
                            <a href="{{ project.link }}" class="custom-btn btn custom-link mt-3" target="_blank">
                                GitHub
                            </a>
                            {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<section class="contact section-padding" id="section_4">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12 mx-auto">
                <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                    <h2 class="text-white ms-4 mb-0">{% translate 'Contact' %}</h2>
                </div>
            </div>

            <div class="col-lg-8 col-12 mx-auto text-center mb-4">
                <a href="https://github.com/berkaykhrmn" target="_blank"
                   class="custom-btn custom-link btn-sm px-4">
                    GitHub
                </a>
            </div>
                <div class="col-12 text-center mb-4">
                    <p class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                       {% translate 'You can visit my GitHub profile using the button above. To get in touch, please fill out the contact form below and send me a message. I will do my best to respond as soon as possible.' %}
                </div>

            <div class="col-lg-8 col-12 mx-auto">


                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                <form method="post" class="custom-form contact-form" role="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="form-floating">
                                <input type="text" name="fullName" id="fullName" class="form-control" placeholder="{% translate 'Full Name' %}" required>
                                <label for="fullName">{% translate 'Full Name' %}</label>
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <div class="form-floating">
                                <input type="email" name="email" id="email" class="form-control" placeholder="{% translate 'e-Mail' %}" required>
                                <label for="email">{% translate 'e-Mail' %}</label>
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <div class="form-floating">
                                <textarea name="message" id="message" class="form-control" placeholder="{% translate 'Message' %}" style="height: 150px;" required></textarea>
                                <label for="message">{% translate 'Message' %}</label>
                            </div>
                        </div>
                            <div class="col-12 text-center">
                                <button type="submit"
                                        class="form-control custom-btn custom-link btn-lg px-5">
                                    {% translate 'Send' %}
                                </button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#section_4').scrollIntoView({ behavior: 'smooth' });
    });
</script>
{% endif %}

</main>

{% endblock %}

{% block js_files %}
{{ block.super }}
{% endblock %}
